//
// Scroll mixins
//

@mixin scrollbar-color($color, $hover-color: null) {
	// Firefox
	scrollbar-color: $color transparent;

	// Webkit
	&::-webkit-scrollbar-thumb {
		background-color: $color;
	}

	&::-webkit-scrollbar-corner {
		background-color: transparent;
	}

	@if ($hover-color != null) {
		// Hover state
		&:hover {
			// Firefox
			scrollbar-color: var(--kt-primary) transparent;

			// Webkit
			&::-webkit-scrollbar-thumb {
				background-color: var(--kt-primary);
			}

			&::-webkit-scrollbar-corner {
				background-color: transparent;
			}
		}
	}
}
