//
// Modal
//

.modal {
	--#{$prefix}modal-color: var(--kt-modal-content-color);
	--#{$prefix}modal-bg: var(--kt-modal-content-bg);
	--#{$prefix}modal-border-color: var(--kt-modal-content-border-color);
	--#{$prefix}modal-box-shadow: var(--kt-modal-content-box-shadow-xs);
	--#{$prefix}modal-header-border-color: var(--kt-modal-header-border-color);
	--#{$prefix}modal-footer-bg: var(--kt-modal-footer-bg);
	--#{$prefix}modal-footer-border-color: var(--kt-modal-footer-border-color);
}

// Mobile dialog
.modal-dialog {
	outline: none !important;
}

// Modal header
.modal-header {
	align-items: center;
	justify-content: space-between;
	@include border-top-radius($modal-content-border-radius);
	border-bottom: $modal-header-border-width solid var(--kt-modal-header-border-color);

	padding: 1.75rem 1.75rem 0.75rem;

	// Headings
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 0;
	}
}

.modal-title {
	font-size: 20px;
}

// Modal body
.modal-body {
	padding: 0.5rem 1.75rem;
}

// Modal content
.modal-content {
	color: var(--kt-modal-color);
	background-color: var(--kt-modal-bg);
	border: $modal-content-border-width solid var(--kt-modal-border-color);
	@include box-shadow(var(--kt-modal-box-shadow));
}

// Modal footer
.modal-footer {
	background-color: var(--kt-modal-footer-bg);
	border-top: 0px solid var(--#{$prefix}modal-footer-border-color);
	// border-top: $modal-footer-border-width solid var(--#{$prefix}modal-footer-border-color);
	padding: 1rem;
	justify-content: space-between;
}

// Modal background
.modal-backdrop {
	--#{$prefix}backdrop-bg: var(--kt-modal-backdrop-bg);
	--#{$prefix}backdrop-opacity: var(--kt-modal-backdrop-opacity);
}

// Scale up the modal
@include media-breakpoint-up(sm) {
	.modal-content {
		@include box-shadow(var(--kt-modal-box-shadow-sm-up));
	}
}

@include media-breakpoint-down(sm) {
	.modal-footer {
		justify-content: center;
	}
}

// Utilities
.modal-rounded {
	@if $enable-rounded {
		border-radius: $modal-content-border-radius !important;
	}
}

// Xxl
@media (min-width: 992px) {
	.modal-xxl {
		--bs-modal-width: 800px;
	}
}
@media (min-width: 1140px) {
	.modal-xxl {
		--bs-modal-width: 992px;
	}
}
@media (min-width: 1200px) {
	.modal-xxl {
		--bs-modal-width: 1140px;
	}
}
