$border-color: $danger;

.invalid-feedback {
	margin-top: 0.25rem;
	display: block;
	line-height: 1;
	ul li {
		margin-bottom: 5px;
		line-height: 1.35;
	}
}
.form-control.is-invalid {
	border: 1px solid $border-color;
	background-image: none;
	padding-right: 1rem;
}

// Radio-Button
.form-check-custom.form-check-solid .form-check-input.is-invalid {
	border: 1;
	border: 1px solid $border-color;
}
