.progress {
	position: relative;
	height: 14px;
}
.progress > .progress-type {
	position: absolute;
	left: 0px;
	font-weight: 500;
	padding: 3px 30px 2px 10px;
	color: rgb(255, 255, 255);
	background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
	position: absolute;
	right: 0px;
	font-weight: 600;
	padding: 0px 5px 0px;
	font-size: 0.9rem;
	line-height: 1.2;
	color: #fff;
}
