%skeleton-loading {
	color: transparent !important;
	appearance: none;
	-webkit-appearance: none;
	background-color: #ddd !important;
	border-color: #ddd !important;
	border-radius: var(--kt-form-border-radius) !important;

	&::placeholder {
		color: transparent;
	}
}
@keyframes skeleton-loading {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
.skeleton-loading {
	pointer-events: none;
	animation: skeleton-loading 1s infinite alternate;

	img {
		border-radius: 1.25rem;
		filter: grayscale(100) contrast(0%) brightness(1.85);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		display: table;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	li,
	label,
	dd,
	div span:not(.arrow.arrow-right):not(.arrow.arrow-left):not(.spinner-border):not(.indicator-label):not(.required) {
		@extend %skeleton-loading;
	}

	button:not([type="submit"]),
	.btn:not([type="submit"]),
	.form-check-input,
	.placeholder,
	.multiselect,
	.vuser,
	.vue-treeselect .vue-treeselect__control,
	.map {
		@extend %skeleton-loading;
	}

	.form-control {
		color: transparent !important;
		@extend %skeleton-loading;
	}

	.accordion-button:not(.collapsed)::after {
		background-image: unset;
	}

	/* icon สายทาง */
	.road-type-icon > span {
		@extend %skeleton-loading;
		border-radius: 50% !important;
	}

	/* กราฟ */
	.container-chart {
		// visibility: hidden;
		opacity: 0.75;
		.apexcharts-legend.apx-legend-position-bottom .apexcharts-legend-series {
			margin: 8px 15px !important;
		}
	}

	.dp__main {
		input,
		.dp__input_wrap {
			display: none;
		}
	}

	.vue-treeselect svg,
	.vue-treeselect__value-container {
		display: none;
	}

	label {
		span {
			display: none;
		}
	}

	button {
		i {
			display: none;
		}
	}

	.is-invalid {
		border: 0px solid transparent;
	}

	.loading-none,
	.invalid-feedback {
		display: none !important;
	}

	.btn-icon,
	.btn-popover {
		display: none !important;
	}

	.multiselect {
		.multiselect-dropdown,
		.multiselect-wrapper {
			display: none !important;
		}
		.multiselect-wrapper > input {
			background-color: #ddd;
		}
		.multiselect-caret,
		.multiselect-clear {
			display: none;
		}
	}

	.customize-basic-table {
		color: #b2b2b2;
	}
}
