.bg-iri {
	background-color: #4c1128 !important;
}
.bg-gn {
	background-color: #1b413c !important;
}
.bg-mpd {
	background-color: #291f49 !important;
}
.bg-rut {
	background-color: #182f53 !important;
}

.card.survey-rule {
	border: 1px solid var(--kt-gray-300);
	box-shadow: none !important;
	.card-header {
		min-height: 48px;
		border-bottom: 1px solid var(--kt-gray-300);
		.card-title {
			color: var(--kt-gray-800);
			font-size: 15px;
			font-weight: 400;
		}
		.card-header {
			font-size: 1rem;
		}
	}
	.square {
		width: 20px;
		height: 20px;
		border-radius: 5px;
		display: inline-block;
	}
}
