// Import
@import "./skeleton";
@import "./splash-screen";
@import "./survey-rule";
@import "./viewer";
@import "./status";
@import "./progress";
@import "./cluster";

@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
	font-family: Verdana;
	src: url(../fonts/verdana/verdana.ttf);
}

* {
	font-family: "Prompt", sans-serif !important;
}

// begin::Text
.required {
	color: var(--kt-danger);
}

.text-truncate {
	white-space: nowrap;
}

.text-preline {
	white-space: pre-line;
}

// begin::button
.btn.btn-outline.btn-outline-primary {
	color: var(--kt-gray-800);
	background-color: var(--kt-white);
}

.btn.btn-light-primary {
	color: var(--kt-gray-800);
}
// end::button

dl {
	dt {
		color: var(--kt-gray-900);
		font-weight: 400;
		margin-bottom: 1.25rem;
	}
	dd {
		color: var(--kt-text-gray-600);
		margin-bottom: 1.25rem;
	}
}
// end::Text

// begin::Bg
.auth-bg,
.error-bg {
	background-image: url("/images/auth/bg.jpg");
	background-position: center center;
	background-size: cover;
	@media (max-width: 767px) {
		background-size: auto;
	}
}
// end::Bg

// begin::Icon
.dot {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	display: inline-block;
}
// end::Icon

// begin::NotFound
.not-found svg path {
	fill: #7e8299;
}
// end::NotFound

// begin::Table
.customize-basic-table {
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 8px;
	border: 1px solid var(--kt-gray-300);
}
.customize-basic-table {
	th {
		font-weight: 400;
		border-left: 1px solid var(--kt-gray-300);
		background-color: transparent;
	}
	tr:first-child,
	th:first-child,
	td:first-child {
		padding-left: 0.75rem;
	}
}
.customize-basic-table th:first-of-type {
	border-left: none !important;
}
.customize-basic-table td {
	border-right: none !important;
}
.customize-basic-table tr:last-of-type td:first-of-type,
.customize-basic-table tr:hover:last-of-type td:first-of-type {
	border-radius: 0px 0px 0px 8px !important;
}
.customize-basic-table tr:last-of-type td:last-of-type,
.customize-basic-table tr:hover:last-of-type td:last-of-type {
	border-radius: 0px 0px 8px 0px !important;
}
.customize-basic-table > :not(:last-child) > :last-child > * {
	border-bottom: 1px solid var(--kt-gray-300);
}
// end::Table

// begin::Datatable
.customize-table {
	white-space: nowrap !important;
	--easy-table-border: none;
	--easy-table-header-background-color: none;
	--easy-table-header-item-padding: 1rem 1rem;
	--easy-table-header-font-size: 1rem;
	--easy-table-header-font-color: #181c32;

	--easy-table-body-item-padding: 5px 10px;
	--easy-table-body-row-font-color: #181c32;
	--easy-table-body-row-background-color: none;
	--easy-table-body-row-hover-background-color: #f1f1f1;
	--easy-table-body-row-font-size: 1rem;
	--easy-table-body-row-height: 45px;

	--easy-table-footer-font-size: 1rem;
	--easy-table-footer-background-color: none;
	--easy-table-footer-height: 50px;

	--easy-table-rows-per-page-selector-width: 70px;
	--easy-table-rows-per-page-selector-z-index: 1;

	--easy-table-rows-per-page-selector-option-padding: 8px 10px;
	--easy-table-message-font-size: 1rem;
}
.customize-table.no-white-space {
	white-space: pre-line !important;
}
.customize-table table {
	border-radius: 8px !important;
	border: 1px solid #e0e0e0 !important;
}
.customize-table th {
	font-weight: 400;
	padding: var(--easy-table-header-item-padding);
	border-top: none !important;
	border-bottom: var(--easy-table-row-border);
	border-right: var(--easy-table-row-border);
}
.customize-table tr:first-of-type th:first-of-type {
	border-left: none !important;
}
.customize-table td {
	border-right: none !important;
}
.customize-table tr:last-of-type td:first-of-type,
.customize-table tr:hover:last-of-type td:first-of-type {
	border-radius: 0px 0px 0px 8px !important;
}
.customize-table tr:last-of-type td:last-of-type,
.customize-table tr:hover:last-of-type td:last-of-type {
	border-radius: 0px 0px 8px 0px !important;
}
.easy-data-table__rows-selector ul.select-items {
	background-color: #fff;
	border-radius: 0.75rem;
}
.customize-table .item {
	border: none !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	border-radius: 8px !important;
	height: 33px !important;
	min-width: 33px !important;
	font-weight: 400 !important;
}
.vue3-easy-data-table__main.border-cell .vue3-easy-data-table__header th:first-of-type {
	border-left: none;
}
.vue3-easy-data-table__footer {
	padding: 30px 0px 10px 0px !important;
	border-top: none !important;
	justify-content: center !important;
}
.pagination__rows-per-page {
	flex: auto !important;
	font-weight: 400 !important;
}
.pagination__items-index {
	display: none;
}
.easy-data-table__rows-selector .rows-input__wrapper {
	background-color: var(--kt-input-bg) !important;
	border: 1px solid var(--kt-input-border-color) !important;
	color: var(--kt-input-solid-color) !important;
	transition: color 0.2s ease !important;
	box-shadow: none !important;
	padding-top: 0.55rem !important;
	padding-bottom: 0.55rem !important;
	padding-left: 0.75rem !important;
	font-size: 1rem !important;
	border-radius: 16px !important;
	height: 43px !important;
	width: 88px !important;
	justify-content: space-around !important;
}
.vue3-easy-data-table__footer {
	margin-bottom: 8px;
}
.vue3-easy-data-table__header th .header {
	height: auto !important;
}

// Loading
.vue3-easy-data-table__loading {
	height: 105% !important;
	padding-top: 45px;
	align-items: start !important;
}

// Pagination
.previous-page__click-button {
	margin: 0 17px !important;
}
.previous-page__click-button .arrow.arrow-right {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-top: none;
	border-left: none;
	transform: none !important;
}
.previous-page__click-button .arrow.arrow-right::before {
	font-family: uicons-regular-rounded !important;
	font-style: normal;
	font-size: 20px;
	font-weight: 400 !important;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	content: "\f12d";
}
.next-page__click-button .arrow.arrow-left {
	display: inline-block;
	width: 20px;
	height: 29.5px;
	border-top: none;
	border-left: none;
	transform: none !important;
}
.next-page__click-button .arrow.arrow-left::before {
	font-family: uicons-regular-rounded !important;
	font-style: normal;
	font-size: 20px;
	font-weight: 400 !important;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	content: "\f12e";
}
.previous-page__click-button.first-page .arrow,
.next-page__click-button.last-page .arrow {
	color: var(--kt-gray-500);
}
.buttons-pagination .item.button.active {
	color: var(--kt-gray-800) !important;
}
@media only screen and (max-width: 600px) {
	.vue3-easy-data-table__footer {
		padding: 10px 0px 10px 0px !important;
		display: inline-table !important;
		text-align: center !important;
	}
	.previous-page__click-button {
		margin: 0 19px !important;
	}
	.previous-page__click-button,
	.next-page__click-button,
	.buttons-pagination {
		display: inline-flex !important;
	}
	.pagination__rows-per-page {
		justify-content: center !important;
	}
	.buttons-pagination {
		margin-left: -15px;
		margin-top: 10px;
	}
	.previous-page__click-button .arrow.arrow-right {
		position: absolute;
		margin-top: -20px;
		margin-left: -20px;
	}
	.next-page__click-button .arrow.arrow-left {
		position: absolute;
		margin-top: -20px;
		margin-right: -20px;
	}
	.customize-table .item {
		height: 34px !important;
		min-width: 34px !important;
	}
}

.vue3-easy-data-table__main {
	min-height: 100px !important;
}

// Dropdown
.easy-data-table__rows-selector ul.select-items.inside {
	border-radius: 0.75rem;
}
.easy-data-table__rows-selector ul.select-items li:first-child.selected,
.easy-data-table__rows-selector ul.select-items li:first-child:hover {
	border-radius: 0.75rem 0.75rem 0 0;
}
.easy-data-table__rows-selector ul.select-items li:last-child.selected,
.easy-data-table__rows-selector ul.select-items li:last-child:hover {
	border-radius: 0 0 0.75rem 0.75rem;
}
.easy-data-table__rows-selector ul.select-items li:hover {
	background-color: var(--easy-table-body-row-hover-background-color);
}
.easy-data-table__rows-selector .rows-input__wrapper .triangle,
.vue3-easy-data-table__header th.sortable .sortType-icon {
	background-color: var(--ms-caret-color, var(--kt-gray-700));
	height: 1.5rem !important;
	width: 1.5rem !important;
	-webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 320 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'/%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 320 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'/%3E%3C/svg%3E");
	pointer-events: none;
	position: relative;
	transform: rotate(0deg);
	transition: transform 0.3s;
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
}

// Sortable
.vue3-easy-data-table__header th.sortable .sortType-icon {
	margin-top: 1px !important;
	width: 1.25rem !important;
	height: 1.25rem !important;
	transform: rotate(180deg);
}
.vue3-easy-data-table__header th.sortable.desc .sortType-icon {
	transform: rotate(360deg) !important;
}

// กรณีไม่ใส่เส้นในตาราง
.customize-table.border-none {
	--easy-table-row-border: none !important;
}
.customize-table.border-none thead tr th {
	border: 1px solid #e0e0e0;
	border-top: var(--easy-table-row-border);
	border-right: var(--easy-table-row-border);
	border-bottom: var(--easy-table-row-border);
}

// รองรับกรณีไม่มีข้อมูล
.customize-table.border-none tbody tr:first-child > td {
	border-top: 1px solid #e0e0e0 !important;
}

// Items selected
.vue3-easy-data-table__main .vue3-easy-data-table__header.customize-items-selected tr th:first-of-type {
	width: 80px;
}
.easy-checkbox label:before {
	width: 1.5rem !important;
	height: 1.5rem !important;
	border-radius: 0.25rem !important;
	border: 1px solid var(--kt-gray-300) !important;
}
.easy-checkbox input[type="checkbox"]:checked + label:before,
.easy-checkbox input[type="checkbox"].partSelected + label:before {
	border-color: var(--kt-form-check-input-checked-border-color) !important;
}
.easy-checkbox input[type="checkbox"]:checked + label:after,
.easy-checkbox input[type="checkbox"].partSelected + label:after {
	width: 0.75em !important;
	height: 0.375em !important;
}
.easy-checkbox input[type="checkbox"]:checked + label:after,
.easy-checkbox input[type="checkbox"].partSelected + label:after {
	margin: 2px !important;
}

.vue3-easy-data-table__body tr.active {
	background-color: #e7e6e6;
}

// fixed column
.vue3-easy-data-table__header tr th.shadow,
.vue3-easy-data-table__body tr td.shadow {
	box-shadow: none !important;
}
.vue3-easy-data-table__header tr th:has(span > .fixed-start),
.vue3-easy-data-table__header tr th:has(span > .fixed-end) {
	background-color: #fff;
}
.vue3-easy-data-table__body tr td:has(div.fixed-start),
.vue3-easy-data-table__body tr td:has(div.fixed-end) {
	background-color: #fff;
}
.vue3-easy-data-table__main th.shadow:after,
.vue3-easy-data-table__main td.shadow:after {
	width: 5px !important;
	right: -5px !important;
	box-shadow: inset 3px 0 5px -3px #0003 !important;
}

.vue3-easy-data-table__header tr th:has(span > .fixed-end),
.vue3-easy-data-table__body tr td:has(div.fixed-end) {
	&:after {
		content: "";
		pointer-events: none;
		display: inline-block;
		height: 100%;
		position: absolute;
		top: 0px;
		width: 5px;
		left: 0px;
		box-shadow: inset 3px 0 5px -3px #0003 !important;
	}
	right: 0px;
	z-index: 3;
	position: sticky;
}
// end::Datatable

// begin::Swal
body.swal2-height-auto {
	display: initial;
}
.swal2-popup {
	width: 25em !important;
	padding: 1.25rem 0 1.25em !important;
	border-radius: 1rem !important;
}
.swal2-popup .swal2-title {
	font-weight: 400 !important;
	font-size: 1.2307692307692308rem;
	color: var(--kt-gray-800);
}
.swal2-styled {
	font-weight: 500 !important;
	font-size: 1.0769230769230769rem !important;
	padding: 10px 20px 10px 20px !important;
	border-radius: 1.25rem !important;
}
.swal2-popup .swal2-html-container,
.swal2-popup .swal2-content {
	font-weight: 300 !important;
}

.swal2-icon.swal2-error {
	border-color: var(--kt-danger-light) !important;
}
.swal2-icon.swal2-error [class^="swal2-x-mark-line"] {
	background-color: var(--kt-danger) !important;
}
.swal2-icon.swal2-success .swal2-success-ring {
	border-color: var(--kt-success-light) !important;
}
.swal2-icon.swal2-success [class^="swal2-success-line"] {
	background-color: var(--kt-success) !important;
}
.swal2-icon.swal2-info {
	border-color: var(--kt-info-light) !important;
	color: var(--kt-info) !important;
}
.swal2-icon.swal2-warning {
	border-color: var(--kt-warning-light) !important;
	color: var(--kt-warning) !important;
}
.swal2-styled.swal2-cancel {
	margin-right: 1rem;
}
.swal2-close {
	margin-top: -23px !important;
	margin-right: -5px !important;
	font-size: 4rem !important;
	font-weight: 100 !important;
	color: #717171 !important;
}
.swal2-close:hover {
	color: #464444 !important;
}
.swal2-close:focus {
	box-shadow: inset 0 0 0 0 rgba(100, 150, 200, 0.5);
}
// end::Swal

// begin::Tab
.nav-pills .nav-link {
	background: var(--kt-gray-100);
	border-radius: 16px;
	font-weight: 500;
	font-size: 1rem;
	padding: 0.75rem 0.25rem;
	text-align: center;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	background: var(--kt-primary-light);
	color: var(--kt-gray-800);
}
// end::Tab

// begin::Toastification
.Vue-Toastification__toast {
	padding: 14px 24px;
	max-width: 400px;
}
.Vue-Toastification__close-button {
	font-weight: 400;
	font-size: 34px;
	line-height: 24px;
	opacity: 0.5;
}
@media only screen and (max-width: 600px) {
	.Vue-Toastification__toast {
		border-radius: 1rem;
		margin-bottom: 0.5rem;
		max-width: 100%;
	}
}
// end::Toastification

// begin::Highcharts
.highcharts-container {
	display: flex;
	width: 100% !important;
	svg {
		width: 100% !important;
	}
}
.highcharts-button-box {
	transform: translate(-1px, -2px);
}
// end::Highcharts

// begin::Scrollbar
.table-responsive {
	&::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: #fff;
	}

	&::-webkit-scrollbar {
		width: 7px;
		height: 7px;
		background-color: #fff;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #c1c1c1;
	}

	&::-webkit-scrollbar-corner {
		background-color: #fff;
	}
}
// end::Scrollbar
