<!DOCTYPE html>
<html>

<!-- ดูเพิ่มเติม https://map.longdo.com/docs/javascript/samples/nearby-search  -->
<style>
    /* map */
    #map {
        height: 600px;
        width: 800px;
    }
    .ldmap_placeholder .ldmap_bottomright {
        display: none;
    }
    html,body{
        padding:0;
        margin: 0;
    }
</style>
<body>
    <!-- ประกาศ div ของแผนที่ -->
    <div id="map">
    </div>

</body>
<!-- ประกาศ Key สำหรับ longdo -->
<script type="text/javascript" src="https://api.longdo.com/map/?key=f38639d33e37f4e422cd8085d997d55f"></script>
<script>

   
        // Initialize the map
        var map = new longdo.Map({
        placeholder: document.getElementById('map')
    });

    // Hide UI components
    map.Ui.DPad.visible(false);
    map.Ui.Zoombar.visible(false);
    map.Ui.Geolocation.visible(false);
    map.Ui.Toolbar.visible(false);
    map.Ui.LayerSelector.visible(false);
    map.Ui.Fullscreen.visible(false);
    map.Ui.Crosshair.visible(false);
    map.Ui.Scale.visible(false);

    // Set zoom level
    let zoomLevel = {{ calculateZoom .MapData.NumberOfData }};
    map.zoom(zoomLevel, true);

    // Process AllLineString to get central point
    var textGeom = "{{ .MapData.AllLineString }}";
    var geomList = textGeom.replace(/POINT/g, "")
                           .replace(/\(/g, "")
                           .replace(/\)/g, "");
                           
    var geomListMiddle = geomList.split(" ").filter(str => str !== "");
    
    // Ensure geomListMiddle has valid coordinates
    if (geomListMiddle.length >= 2) {
        var lon = parseFloat(geomListMiddle[0]);
        var lat = parseFloat(geomListMiddle[1]);
        
        if (!isNaN(lon) && !isNaN(lat)) {
            map.location({ lon: lon, lat: lat }, true);
        } else {
            console.error("Invalid coordinates:", lon, lat);
        }
    } else {
        console.error("Insufficient coordinates:", geomListMiddle);
    }

    // Add overlays with specified colors
    {{ range $index, $value := .MapData.GeomList }}
        {{ range $index2, $value2 := $value.GeomCL }}
            var textGeom = "{{ $value2 }}";
            var roadOption = {         
                lineColor: "{{ $value.Color }}",
            };
            var wkt1 = longdo.Util.overlayFromWkt(textGeom, roadOption);
            
            // Check if wkt1 is valid before adding to map
            if (wkt1.length > 0) {
                map.Overlays.add(wkt1[0]);
            } else {
                console.error("Failed to create overlay from WKT:", textGeom);
            }
        {{ end }}
    {{ end }}

</script>

</html>