<!DOCTYPE html>
<html>
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <!-- Import Sarabun font from Google Fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500;700&display=swap" rel="stylesheet">
   
      <style>
        body, html {
          padding: 0;
          margin: 0;
          font-family: 'Sarabun', sans-serif; /* Apply Sarabun font globally */
        }
  
        /* #chart {
          height: 250px;
          width: 100%;
        } */
  
        .ldmap_placeholder .ldmap_bottomright {
          display: none;
        }
      </style>
    </head>
  <body>
    <p style="font-size: 12px; text-align: center;">
      ข้อมูลค่าสะท้อนแสงของเส้นจารจร (Retroreflectivity) {{.Year}}
    </p>
    <div id="chart"></div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script>



    var title = ""
    var options = {
      series: {{.Graph.Value}},
      chart: {
          type: "pie",
          toolbar: {
              show: false
          },
          fontFamily: "sarabun",
          height: 380,
          width: 410,
      },
      tooltip: {
        enabled: false,
      },
      stroke: {
        show: true,
        width: 2,
        colors: ["transparent"],
        curve: "smooth",
      },
      legend: {
        position: "bottom",
        offsetY: 10,
        horizontalAlign: "center",
        itemMargin: {
          horizontal: 15,
        },
      },
      labels: {{.Graph.Lable}},
      // title: {
      //   text: "ข้อมูลค่าสะท้อนแสงของเส้นจารจร (Retroreflectivity) {{.Year}}",
      //   align: "center",
      //   style: {
      //     fontSize: "12pt",
      //   },
      // },
      colors: {{.Graph.Color}},
      events: {
          mounted: function (chartContext, config) {
              setTimeout(function () {
                  let chart = document.getElementById('chart');
                  let div = document.createElement('div');
                  div.id = 'success-apexchart';

                  insertAfter(div, chart);
              }, 1000)
          }
      }
    };
    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
  </script>
</html>
