<!DOCTYPE html>
<html>
  <head>
    <style>
      /* map */
      #map {
        height: 9cm;
        width: 12cm;
      }
      .ldmap_placeholder .ldmap_bottomright {
        display: none;
      }
      html,
      body {
        padding: 0;
        margin: 0;
      }
    </style>
    {{ $item := . }}
    <script src="https://api.longdo.com/map/?key=f38639d33e37f4e422cd8085d997d55f"></script>
  </head>
  <body>
    <div id="map"></div>
  </body>

  <script>
    var map;
    function initMap() {
      var textGeom = "{{ $item.RoadGeom }}";
      var roadOption = {
        lineColor: "{{ $item.RoadColorCode }}",
      };
      var zoom = "{{ $item.Zoom }}";
      var wkt2 = longdo.Util.overlayFromWkt(textGeom, roadOption);
      var Geomlist = textGeom
        .replaceAll("LINESTRING", "")
        .replaceAll("(", "")
        .replaceAll(")", "")
        .split(",");
      var GeomlistLength = Geomlist.length;
      var GeomlistMiddle = Geomlist[Math.ceil(GeomlistLength / 2)];
      var GeomlistMiddleList = GeomlistMiddle.split(" ");
      GeomlistMiddleList = GeomlistMiddleList.filter((str) => str !== "");

      map = new longdo.Map({
        placeholder: document.getElementById("map"),
        width: 20,
        height: 20,
      });

      map.Ui.DPad.visible(false);
      map.Ui.Zoombar.visible(false);
      map.Ui.Geolocation.visible(false);
      map.Ui.Toolbar.visible(false);
      map.Ui.LayerSelector.visible(false);
      map.Ui.Fullscreen.visible(false);
      map.Ui.Crosshair.visible(false);
      map.Ui.Scale.visible(false);
      map.zoom(zoom, true);
      map.location(
        { lon: GeomlistMiddleList[0], lat: GeomlistMiddleList[1] },
        true
      );

      if ("{{ $item.PointGeom }}" != "[]") {
        var location = "{{ $item.PointGeom }}";
        map.Overlays.add(wkt2[0]);
        location = location.replace("[", "").replace("]", "");
        var locations = location.split(") ");
        for (var i = 0; i < locations.length; i++) {
          var locationString = locations[i]
            .replace("POINT(", "")
            .replace(")", "");
          var lonLatArray = locationString.split(" ");
          var lon = parseFloat(lonLatArray[0]);
          var lat = parseFloat(lonLatArray[1]);
          map.Overlays.add(
            new longdo.Marker(
              { lon: lon, lat: lat },
              {
                icon: {
                  url: "{{$item.PinGeom}}",
                  offset: { x: 10, y: 20 },
                  size: { height: 20, width: 20 },
                },
              }
            )
          );
        }
      }
      if ("{{ $item.LineGeom }}" != "[]") {
        var lineGeom = "{{ $item.LineGeom }}";
        lineGeom = lineGeom.replace("[", "").replace("]", "");
        var lineGeoms = lineGeom.split(") ");
        var options = {
          lineColor: "red",
        };
        for (var i = 0; i < lineGeoms.length; i++) {
          var lineString = lineGeoms[i] + ")";
          var wkt = new longdo.Util.overlayFromWkt(lineString, options);
          map.Overlays.add(wkt[0]);
        }
        map.Overlays.add(wkt2[0]);
      } else {
        map.Overlays.add(wkt2[0]);
      }
    }
    initMap();
  </script>
</html>
